@model IEnumerable<PrimarieApp.Models.Post>

@section PageStyles {
    <link rel="stylesheet" href="~/css/Tabel.css" />
    <link rel="stylesheet" href="~/css/Angajat.css" />
}

@{
    ViewData["Title"] = "Lista Posturi";
}

<h2 class="titlu-departamente">@ViewData["Title"]</h2>

<table class="tabel-departamente">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Descriere</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NumePost</td>
                <td>@item.DescrierePost</td>
                <td>
                    <a href="/Post/Edit/@item.Id">Editează</a> |
                    <a href="/Post/Delete/@item.Id">Șterge</a> |
                    <a href="/Post/Pagina/@item.Id">Pagina post</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-grup-formular">
    <a href="/Post/Create" class="btn-formular btn-success">Adaugă post</a>
</div>
