@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Despre GAP";
}

<h2>Despre GAP - Gestiunea Activitatilor Primariei</h2>

<img class="despre-imagine" src="~/Content/Images/30110241611_ef178796c5_k.jpg" alt="Primarie" />
<ul class="despre-text">
    <li>
            Modulul de organigrama este destinat pentru vizualizarea structurii primariei.
            Pentru un utilizator normal, aceasta pagina prezinta organigrama institutiei,
            permitand vizualizarea ierarhiei si a relatiilor dintre posturi.
    </li>

    <li>
            Pentru administrator sau primar, modulul ofera facilitati de gestionare, management
            si contabilizare a posturilor si a angajatilor. In acest fel, se pot adauga, modifica
            sau sterge informatii aferente posturilor, iar utilizatorul cu drepturi de admin poate
            urmari evolutia structurii organizationale.
    </li>
</ul>

<p class="linkuri-utile">
    Linkuri utile:
    <a href="https://www.primariacraiova.ro/">Primaria Craiovei</a> |
    <a href="https://consiliullocal.ro/">Consiliul Local</a> |
    <a href="https://www.youtube.com/">Youtube</a>
</p>

@section PageStyles {
    <link rel="stylesheet" href="~/css/About.css" />
}
