<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Login GAP</title>
</head>
<body>
    <h2>Sistem de gestiune a activitatii primariei</h2>
    <form action="/Home/Index" method="post">
        <label for="utilizator">Utilizator:</label>
        <input type="text" id="utilizator" name="utilizator"><br><br>

        <label for="parola">Parola:</label>
        <input type="password" id="parola" name="parola"><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
