@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Organigrama";
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/Organigrama.css" />
}

<div class="organigrama-titlu">
    <h1>Organigrama Primariei</h1>
</div>

<div id="orgChart" class="mermaid">
    graph TD
</div>

<h3>Adaugă poziție:</h3>
<div id="listaPredefinita" class="action-list">
</div>

<div id="formular" style="display:none;">
    <h3>Specifica detalii nod nou</h3>
    <label for="ascendent">Ascendent:</label>
    <select id="ascendent"></select><br><br>

    <label for="tipRelatie">Tip Relatie:</label>
    <input type="text" id="tipRelatie" placeholder="ex: Subordonare"><br><br>

    <button onclick="submitForm()">Submit</button>
</div>

<h3>Modifică poziție:</h3>
<div id="listaModificare" class="action-list">
</div>

<div id="formularModificare" style="display:none;">
    <h3>Specifica noua denumire</h3>
    <input type="text" id="nouaDenumire" placeholder="Noua denumire"><br><br>
    <button onclick="submitModificare()">Submit</button>
</div>

<h3>Șterge poziție:</h3>
<div id="listaStergere" class="action-list">
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script src="~/Scripts/MyScripts/Organigrama.js"></script>
}